/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para a seção .intro */
.intro_char {
    height: 40vh;
    background-image: url(../images/fundo_verde.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    text-align: left;
    padding: 0 30px;
    margin-bottom: 50px;
}

@media (max-width: 800px) {
    .intro_char h1 {
        font-size: 45px;
    }
}

@media (max-width: 600px) {
    .intro_char {
        padding: 5px 20px;
        text-align: start;
    }

    .intro_char h1 {
        font-size: 40px;
    }

    .intro_char p {
        font-size: 16px;
    }
}

.intro_char h1 {
    font-size: 60px;
    flex-wrap: wrap;
}

.intro_char p {
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
    color: white;
    flex-wrap: wrap;
}

/* Estilo para a seção .location_block */
.location_block {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #072907;
    color: white;
    border-radius: 8px;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .location_block {
        flex-direction: column;
        padding: 15px;
    }
}

/* Texto e imagem dentro da localização */
.location_text {
    flex: 1;
    padding: 20px;
    font-family: "Libre Baskerville", serif;
    flex-wrap: wrap;
}

.location_text h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.location_text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.mapa_image {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mapa_image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 8px;
    object-fit: cover;
}

/* Estilo para o contêiner da tabela */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    margin: 0 auto;
    padding: 20px 0; /* Espaçamento ao redor da tabela */
    align-items: center;
    max-width: 1000px;
}

/* Estilo da tabela */
table {
    width: 100%; /* Ajusta a largura da tabela para o contêiner */
    max-width: 1000px;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #666;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #87b133f7;
}

@media (max-width: 600px) {
    table {
        width: 100%; /* Ajuste para manter responsividade em telas menores */
    }
}

h3 {
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
}
